@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: aliceblue;
  color: darkslategray;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 8em;
}

.App {
  padding-top: 2em;
  text-align: center;
  min-height: 100vh;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.MovieList{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
max-width: 45%;
min-width: 16%;
padding: 4em .5em;
}

.MovieList-item{
font-size: 1em;
display: flex;
width: 280px;
max-width: 260px;
flex-direction: column;
margin-bottom: -4em;
border-radius: 12px;
cursor: pointer;
transition: all .4s ease;
}

.MovieList-item:hover{
  box-shadow: 8px 4px 12px  rgba(155, 155, 155, 0.856),
  0 0 12px rgba(170, 170, 170, 0.856);
}


.MovieList-item  img{
  display: inline-block;
  height: 300px;
  min-width: 180px;
  width: 400px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.movie-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-title{
  font-size: .9em;
  font-weight: 400;
  text-align: center;
}

.movie-subtitle{
  font-size: .9em;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: 600;
}

.movie-content{
  padding: 12px;
  height: 85px;
}

.notfound{
  margin-top: 2em;
  font-size: 2em;
  font-style: italic;
}

.notfound img {
  width: 24%;
}

@media (max-width: 375px) {
  .MovieList{
    padding: 10px;
    min-width: 100%;
    }
    
    .MovieList-item{
    font-size: 1em;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 12px;
    }
    
    .MovieList-item  img{
      display: inline-block;
      height: 380px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    
    .movie-flex{
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: space-evenly;
    }
    
    .movie-title{
      font-size: .9em;
      font-weight: 400;
      text-align: center;
    }
    
    .movie-subtitle{
      font-size: .9em;
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-weight: 600;
    }
    
    .movie-content{
      padding: 8px;
      height: 80px;
    }
}

@media (max-width: 414px) {
  .MovieList{
    min-width: 500px;
    display: flex;
    justify-content: center;
    }
    
    .MovieList-item{
    font-size: 1em;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: -6em;
    }
    
    .MovieList-item  img{
      display: inline-block;
      height: 380px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    
    .movie-flex{
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: space-evenly;
    }
    
    .movie-title{
      font-size: .9em;
      font-weight: 400;
      text-align: center;
    }
    
    .movie-subtitle{
      font-size: .9em;
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-weight: 600;
    }
    
    .movie-content{
      padding: 8px;
      height: 80px;
    }
}

  /* LOADER */
  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 8em;
  }
  .lds-grid div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background: darkslategray;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  